
<%= render 'shared/navbar' %>

<h1>Overview of bookings</h1>

<ul>
  <% @bookings.each do |booking| %>
    <li><p><%= booking.id %> <%= booking.starts_at %> <%= booking.ends_at %> </p></li>
  <% end %>
</ul>
