<%= render 'shared/navbar' %>

<div class="container">
    <h2>Thank you for your request!</h2>
    <p>You will receive an email from us within 3 days.</p>
    <div class="row">
        <div class="col-md-6">
            <p>Your vacation begins at: <%= @booking.starts_at%></p>
        </div>
        <div class="col-md-6">
            <p>Your vacation ends at: <%= @booking.ends_at %></p>
        </div>
        
    </div>
