<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Casal Verde</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <!-- Theme CSS -->
    <link href="css/agency.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Cas'al Verde</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background-color: #EEEEEE">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    <li><%= link_to "Booking", new_booking_path, :class => "btn btn-primary"%></li>

                    <li>
                        <a class="page-scroll" style="color:#fed136" href="#services">Villa</a>
                    </li>
                    <li>
                        <a class="page-scroll" style="color:#fed136" href="#about">Facilities</a>
                    </li>
                    <li>
                        <a class="page-scroll" style="color:#fed136" href="#portfolio">Photos</a>
                    </li>
                    <li>
                        <a class="page-scroll" style="color:#fed136" href="#tarieven">Rates</a>
                    </li>
                    <li>
                        <a class="page-scroll" style="color:#fed136" href="#widget">Reviews</a>
                    </li>
                    <li>
                        <%= link_to "Contact", pages_contact_path, style:"color:#fed136" %></li>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Italy, Cas'al Verde!!</div>
                <div class="intro-lead-in">Tranquility, natural beauty, privacy in the heart of the famous Chianti region in the classic Tuscany, Italy.</div>
                <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <div id="services" style="padding: 100px 0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Villa</h2>
                    <h3 class="section-subheading text-muted">Welcom in Italy, welcom in Cas'al Verde!</h3>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-muted justify">
                    <p>Our lovely family villa, located within walking distance from Tregole in the famous wine region of Chianti, has five spacious bedrooms and three bathrooms. The villa is centrally located among the vineyards, olive groves, and woods that make staying in an area with lots of privacy, tranquility and natural beauty. </p>
                    <p>Tregole itself is a small hamlet with no shops but the nearby towns such as Castellina in Chianti, Siena, and Florence are easily reached by car or bicycle.  Distances: 500m Tregole, Castellina in Chianti (including supermarket,restaurants, bars, doctor, pharmacy, church) 3km, San Gimignano 22km, Siena 24km, Florence 35km</p>
                    <p>The beautiful roads, alternating climbs and beautiful scenery combined with historic villages and towns make the surroundings perfect for biking . There is an oasis of calm and the area is safe for children. In the garden is a large swimming pool, children's playground, several terraces (with sun and shade) and there is a beautiful view! If you wish to dine together, you can use the pizza oven or barbecue to prepare delicious dishes from the local area. The neighbors, Brancaia and Fonterutoli, sell one of the best wines of Italy, which will probably fit in well with the self-cooked dinner. This luxurious venue can accommodate up to 16 people and includes many features to make but also facilitate the stay a lot more enjoyable. The villa can be rented outside July and August by a smaller group, such as 8 people, making the weekly rate is lower.</p>
                    <p>Facilities</p>
                        <ul>
                            <li>Private pool (12.5 x 4m, depth: 0.8m-2m)</li>
                            <li>Gratis Internet</li>
                            <li>Pizza oven</li>
                            <li>Barbeque</li>
                            <li>Dishwasher</li>
                            <li>Washing machine</li>
                            <li>Library</li>
                            <li>Playground</li>
                            <li>Table tennis</li>
                            <li>Bowling lawn</li>
                            <li>Hammock</li>
                            <li>Mountain bikes</li>
                        </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Photos</h2>
                    <h3 class="section-subheading text-muted">Welcome to our beutiful villa!</h3>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="http://res.cloudinary.com/casalverde/image/upload/v1485868284/Casalverde_fotograaf_20_2828_29-5760x3840_pwrspt.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="http://res.cloudinary.com/casalverde/image/upload/v1485868355/Casalverde_fotograaf_20_2826_29-5760x3840_nlan3q.jpg" alt="">
                    </a>
                </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="http://res.cloudinary.com/casalverde/image/upload/v1485868411/Casalverde_fotograaf_20_2824_29-5138x3356_mrfe2w.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Facilities</h2>
                    <h3 class="section-subheading text-muted">At Cas'al Verde we strive to make your stay enjoyable.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Living room</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our 28 square meters living room counts with:
                                            TV with satellite dish
                                            (Dutch channels),
                                            DVD player,
                                            bose sound system,
                                            library,
                                            two benches,
                                            armchair,
                                            soapstone Stove,
                                            dining table,
                                            gratis WiFi
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Kitchen</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">If you love cooking or making quick snacks; this kitchen is perfect. Besides all the space you have access to a six burner stove with double oven and grill,
                                    dining,
                                    fridge with freezer,
                                    dishwasher,
                                    gas stove with oven,
                                    cutlery, plates, cups and utensils
                                    coffee Machines Senseo & Nespresso
                                    kettle, and
                                    herbs from local growers.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Around the villa</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">From the pool you have a panoramic view of the Tuscan hills. The pool is 12 meters long and 4.5 meters wide. The pool is equipped with underwater lighting.
                                    Children playground (swing and slide)
                                    Trampoline (buried)
                                    Table tennis
                                    Two mountain bikes (m / f)
                                    Hammock
                                    Bowls
                                    Washing machine</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Terraces</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Around the villa are several terraces. The main deck offers a magnificent view of the hills of the Chianti region, the nearby hamlet Tregole and the distant Apennines. Around the house there are more terraces to explore. On the terraces are chairs, cushions, tables and parasols available.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Rooms</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In total there are five bedrooms with  a total of fifteen beds in the villa. All bedrooms have large closets and clean linens. There are also two baby beds available.
                                    Room 1: Double bed
                                    Room 2: Double bed
                                    Room 3: Double bed and three single beds
                                    Room 4: Double bed and a single bed
                                    Room 5: Double bed and </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Arcade</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In the arcade, you count with a pizza oven, a barbecue, and a long dining table. You can visit our manager, cook by profession, hiring. With or for you he prepares the most delicious pizzas or even an entire Tuscan meal. You ask our maneger, a professional cook, to prepare for you a delicious pizza or even a complete Tuscan meal.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="tarieven" class="bg-light-gray">
        <div class="container">
          <div class="text-center">
            <h2 class="section-heading">Rates</h2>
          </div>
          <p class="large text-muted">We apply a base price for eight people.
              During the high-season, we rent per week with Saturday as the checkout day. During the low-season the checkout day changes and stays of a minimum of three days are possible. The rates below are base on a weekly stay.</p>
            <br>
            <div class="row">
              <div class="col-lg-6">
                <p>Low-season:</p>
                  <li>Period: Saturday 29 October t/m Saturday 1 April 2017.</li>
                  <li>Base price: €1499,- for eight people.</li>
                  <li>Each extra person €140,- per week.</li>
                  <br>
                <p>Pre-season:</p>
                  <li>Period: Saturday 1 April t/m Saturday 24 June.</li>
                  <li>Base price: €2499,- for eight people.</li>
                  <li>Each extra person €140,- per week.</li>
                <br>
                <p>Service and additional charges</p>
                  <li>Deposit: € 500, - per stay (payment upon booking and is required).</li>
                  <li>Cleaning and bed linen are included.</li>
              </div>
              <div class="col-lg-6">
                <p>High-season:</p>
                  <li>Period: Saturday 24 June t/m Saturday 2 September.</li>
                  <li>Base price: €2999,- for eight people.</li>
                  <li>Each extra person €140,- per week.</li>

                <p>Late-season:</p>
                  <li>Period: Saturday 2 September t/m Saturday 4 November.</li>
                  <li>Base price: €2499,- for eight people.</li>
                  <li>Each extra person €140,- per week.</li>
              </div>
            </div>
          </div>
    </section>

    <!-- Clients Aside -->
    <aside id="widget">
        <div class="container" style="margin-bottom: 25px">
            <div class="row">
              <h2>We love <i class="fa fa-heart"></i> Your suggestions!</h2>
              <br>
              <div class="col-md-3 col-sm-6">
                <a href="//casalverde.reviewbuddy.com" id="reviewbuddylink"></a>
              </div>
              <div class="col-md-3 col-sm-6">
                <!-- InstaWidget -->
              <a href="https://instawidget.net/v/user/casalverde.eu" id="link-5c2d392db04c84977f55cba69c07841c294cf6df001814e14331cca17ae5e177"></a>
              <script src="https://instawidget.net/js/instawidget.js?u=5c2d392db04c84977f55cba69c07841c294cf6df001814e14331cca17ae5e177&width=200px"></script>
              </div>
              <div class="col-md-3 col-sm-6">
                <a target="_blank" href="https://www.tripadvisor.com/VacationRentalReview-g194720-d10356655-Cas_al_Verde-Castellina_In_Chianti_Tuscany.html"><img src="http://www.freeiconspng.com/uploads/tripadvisor-icon-13.jpg" width="180" height="250"/></a>
                <script src="https://www.jscache.com/wejs?wtype=socialButtonIcon&amp;uniq=901&amp;locationId=187893&amp;color=green&amp;size=rect&amp;lang=en_US&amp;display_version=2"></script>
              </div>
              <div class="col-md-3 col-sm-6">
                <a target="_blank" href="https://www.micazu.nl/vakantiehuis/italie/toscane/castellina-in-chianti/casal-verde-1402/"><img src="https://pbs.twimg.com/profile_images/688007580023586816/miN3yhcR.png" width="180" height= "250"/></a>
              </div>
              </div>
            </div>
        </div>
    </aside>


    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/jquery/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.js"></script>
    <script src="vendor/gulpfile.js"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>
    <script type="text/javascript">
     (function() {
     var rb = document.createElement('script'); rb.type = 'text/javascript'; rb.async = true;
     rb.src = '//casalverde.reviewbuddy.com/widget.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(rb, s);
     })();
     </script>

</body>

</html>
