// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .bookings-table{
//   border: 1px solid black;
//
//
// }

.bookings-table2 {
    border: 1px solid gray;
    background-color: #ff4d4d;
    color: white;
}

#booking {
    border: 1px solid black;
}

.bookings-table3 {
    border: 1px solid black;
  
    background-color: #79d279;
}

.season {
    border: 1px solid black;
    color: black;
    padding: 20px;
}
